<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<p>
		Splurty was built during Firehose Weekend in Pittsburgh, PA. It was a really fun time and a great learning experience. 
	</p>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'picture.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Nicole Daniels</h2>
    <br />
    <p>
      Nicole Daniels is a computer science student at the University of Pittsburgh. She enjoys sleeping, DJing, and reading. She is also very passionate about the Patriots, Red Sox, and Beyonce. 
    </p>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />
</div>